/* * general */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: #ededed;
}

.body__fixed {
  overflow: hidden;
}

i {
  font-size: 24px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #fff;
}

/* ! navbar */

.none {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #212529;
  color: #fff;
  padding: 25px 60px;
  margin-bottom: 30px;
}

.cart {
  position: relative;
  background-color: #fff;
  color: #212529;
  font-size: 30px;
  padding: 5px;
  border-radius: 4px;
}

.cart_amount {
  position: absolute;
  top: -15px;
  right: -10px;
  font-size: 16px;
  background-color: red;
  color: #fff;
  padding: 3px;
  border-radius: 3px;
}

/* ! shop items */

.container {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.shop {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  gap: 30px;
  justify-content: center;
  margin-bottom: 50px;
}

.item {
  box-sizing: border-box;
  border: 1px solid #60695c;
  border-radius: 22px;
  width: 220px;
  padding: 16px;
}

.item img {
  width: 184px;
  height: 220px;
  box-sizing: border-box;
  background-color: #fff;
  width: 100%;
  border-radius: 22px;
  padding: 16px;
  cursor: pointer;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  padding: 10px;
  overflow: hidden;
  box-sizing: border-box;
}

.details h3 {
  height: 54px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.details h4 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
  color: #60695c;
}

.price_quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price_quantity h2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.quantity {
  font-size: 20px;
}

.bi-dash-lg {
  cursor: pointer;
  color: red;
}

.bi-plus-lg {
  cursor: pointer;
  color: green;
}

/* !dropdown */

.dropdown {
  display: none;
  position: absolute;
  flex-direction: column;
  width: 300px;
  top: 65px;
  right: 0;
  background-color: #212529;
}

.cart:hover > ul {
  display: flex;
}

.dropdown img {
  background-color: #60695c;
  border-radius: 22px;
  width: 100px;
}

.dropdown__item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.dropdown__details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dropdown__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;

  color: #ffffff;
}

.dropdown__price {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

/* !popup */

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
}

.popup__open {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

.popup__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  width: 777px;
  max-height: 100%;
  overflow-y: auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #ededed;
}

.popup__content img {
  width: 242px;
  height: 302px;
  background-color: #ffffff;
  border-radius: 13px;
  padding: 8px;
}

.popup__product {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 8px;
}

.popup__product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  padding: 8px;
}

.popup__product-name {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.popup__product-desc {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.popup__product-title {
  font-size: 61.04px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.popup__product-subtitle {
  font-size: 31.25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #60695c;
}

.popup__product-price {
  font-size: 31.25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.popup__product-text {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.popup__btn-close {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #212529;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup__btn-close i {
  font-size: 20px;
}

.popup__btn-add {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 8px 24px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #212529;
  color: #ffffff;
  border: none;
  border-radius: 14px;
  cursor: pointer;
}

/* ?adaptive */
@media (max-width: 1400px) {
  .container {
    width: 100%;
    padding: 50px;
  }
}

@media (max-width: 1000px) {
  .shop {
    grid-template-columns: repeat(2, 220px);
    gap: 30px;
    justify-content: center;
    margin-bottom: 50px;
  }
}

@media (max-width: 700px) {
  .navbar {
    margin-bottom: 10px;
  }

  .cart:hover > ul {
    display: none;
  }

  .popup__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #ededed;
  }

  .popup__content img {
    width: 150px;
    height: 190px;
    background-color: #ffffff;
    border-radius: 13px;
    padding: 0;
  }

  .popup__product {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 8px;
  }

  .popup__product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    padding: 8px;
  }

  .popup__product-name {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .popup__product-desc {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .popup__product-title {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .popup__product-subtitle {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #60695c;
  }

  .popup__product-price {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .popup__product-text {
    width: 160px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .popup__btn-close {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: #212529;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .popup__btn-close i {
    font-size: 18px;
  }

  .popup__btn-add {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    padding: 8px 12px;
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
  }

  .item {
    display: flex;
    border-radius: 22px;
    width: 100%;
    padding: 5px;
  }

  .item img {
    width: 166px;
    height: 202px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 22px;
    padding: 0;
    cursor: pointer;
  }

  .details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    width: 100%;
    padding: 10px;
    overflow: hidden;
    box-sizing: border-box;
  }

  .details h3 {
    height: 54px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }

  .price_quantity {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
  }

  .price_quantity h2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 8px;
  }

  .quantity {
    font-size: 16px;
  }
}
