.shoping__display {
  justify-content: center;
  gap: 50px;
  display: flex;
}
.label {
  background-color: #fff;
  border-radius: 21px;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  margin-top: 10px;
  padding: 16px;
  display: flex;
}
.empty__cart {
  text-align: center;
  font-size: 20px;
}
.total__result {
  flex-direction: column;
  gap: 16px;
  display: flex;
}
.total__result-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.total__result-subtitle {
  letter-spacing: -0.32px;
  color: #60695c;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.total__result-price {
  box-sizing: border-box;
  color: #e5252c;
  border-top: 1px solid #60695c;
  border-bottom: 1px solid #60695c;
  width: 100%;
  padding: 16px 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.home__btn,
.checkout,
.clear__all {
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  text-align: center;
  background-color: #212529;
  border: none;
  border-radius: 11px;
  width: 100%;
  margin-top: 10px;
  padding: 10px 24px;
}
.home__btn {
  font-size: 16px;
}
.checkout {
  background-color: #212529;
  display: inline-block;
}
.clear__all {
  background-color: red;
  font-size: 16px;
  line-height: 16px;
}
.bi-x-lg {
  color: red;
  font-size: 24px;
  font-weight: 700;
}
.shoping__cart {
  box-sizing: border-box;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  padding: 10px;
  display: flex;
}
.cart__item {
  background: #fff;
  border-radius: 21px;
  gap: 16px;
  padding: 16px 24px;
  display: flex;
}
.cart__item img {
  width: 184px;
  height: 220px;
}
.cart__details {
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  display: flex;
}
.cart__buttons {
  justify-content: center;
  align-items: center;
  gap: 24px;
  display: flex;
}
.buttons__price,
.title__price-x {
  justify-content: space-between;
  display: flex;
}
.title__price-shortdesc {
  flex-direction: column;
  gap: 20px;
  display: flex;
}
.short__title {
  color: #60695c;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.title__price {
  align-items: center;
  gap: 10px;
  display: flex;
}
.title {
  font-size: 32px;
}
.price {
  color: #fff;
  background-color: #12805d;
  border-radius: 4px;
  padding: 3px 6px;
  font-size: 20px;
}
.total__price {
  color: #212529;
  font-size: 20px;
  font-weight: 700;
}
@media only screen and (max-width: 800px) {
  .cart__item {
    gap: 16px;
    padding: 16px 24px 16px 0;
  }
  .cart__item img {
    width: 154px;
    height: 190px;
  }
  .title__price-shortdesc {
    flex-direction: column;
    gap: 10px;
    display: flex;
  }
  .buttons__price,
  .title__price-x {
    justify-content: space-between;
    width: 100%;
    display: flex;
  }
  .title {
    width: 150px;
    font-size: 24px;
  }
}
@media only screen and (max-width: 700px) {
  .shoping__display {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .shoping__cart {
    box-sizing: border-box;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    padding: 0;
    display: flex;
  }
  .cart__item {
    gap: 5px;
    padding: 10px 10px 10px 0;
  }
  .cart__item img {
    width: 104px;
    height: 130px;
  }
  .cart__details {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    width: 100%;
    display: flex;
  }
  .cart__buttons {
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
  }
  .short__title {
    color: #60695c;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .title__price {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100px;
    display: flex;
  }
  .title {
    text-align: center;
    width: 150px;
    font-size: 16px;
  }
  .total__price {
    color: #212529;
    justify-content: center;
    width: 120px;
    font-size: 15px;
    font-weight: 700;
    display: flex;
  }
  .price {
    color: #fff;
    background-color: #12805d;
    border-radius: 4px;
    padding: 3px 6px;
    font-size: 16px;
  }
}
@media only screen and (max-width: 400px) {
  .title__price {
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100px;
    display: flex;
  }
  .title {
    text-align: center;
    width: 150px;
    font-size: 16px;
  }
}
